<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ca.mcgill.cs.swevo.qualyzer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ca.mcgill.cs.swevo.qualyzer.Perspective"
            fixed="true"
            id="ca.mcgill.cs.swevo.qualyzer.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="ca.mcgill.cs.swevo.qualyzer.projectexplorer"
            name="Project Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ca.mcgill.cs.swevo.qualyzer.application"
            name="Qualyzer">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Qualyzer">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="ca.mcgill.cs.swevo.qualyzer.projectexplorer">
         <popupMenu
               allowsPlatformContributions="true"
               id="ca.mcgill.cs.swevo.qualyzer.projectexplorer#PopupMenu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit2"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize2">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.search"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="ca.mcgill.cs.swevo.qualyzer.projectexplorer">
         <includes>
            <contentExtension
                  pattern="ca.mcgill.cs.swevo.qualyzer.model.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="ca.mcgill.cs.swevo.qualyzer.projectexplorer">
         <includes>
            <actionExtension
                  pattern="ca.mcgill.cs.swevo.qualyzer.actions.*">
            </actionExtension></includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.ExitHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.exit"
            name="Exit">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.SetupHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.setup"
            name="Setup">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.NewProjectHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.newProject"
            name="New Project">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.OpenTranscriptHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.openTranscript"
            name="Open Transcript">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.AddParticipantHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.addParticipant"
            name="Add Participant">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.EditParticipantHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.editParticipant"
            name="Edit Participant">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.AddInvestigatorHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.addInvestigator"
            name="Add Investigator">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.EditInvestigatorHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.editInvestigator"
            name="Edit Investigator">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.EditCodeHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.editCode"
            name="Edit Code">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.OpenMemoHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.openMemo"
            name="Open Memo">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.NewTranscriptHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.newTranscript"
            name="New Transcript">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.TranscriptPropertiesHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.editTranscriptProperties"
            name="Edit Transcript Properties">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.ImportTranscriptHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.importTranscript"
            name="Import Transcript">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.ImportAudioFileHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.importAudioFile"
            name="Import Audio File">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.CloseProjectHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.closeProject"
            name="Close Project">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.OpenProjectHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.openProject"
            name="Open Project">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.DeleteParticipantHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.deleteParticipant"
            name="Delete Participant">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.DeleteInvestigatorHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.deleteInvestigator"
            name="Delete Investigator">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.DeleteTranscriptHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.deleteTranscript"
            name="Delete Transcript">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="&amp;File">
            <menu
                  id="fileNew"
                  label="&amp;New">
               <command
                     commandId="ca.mcgill.cs.swevo.qualyzer.commands.newProject"
                     icon="icons/new_prj.gif"
                     label="&amp;Project"
                     style="push"
                     tooltip="Create a New Project">
               </command>
            </menu>
            <separator
                  name="fileMenu/closeSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="&amp;Close"
                  style="push"
                  tooltip="Close the Open Editor">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="C&amp;lose All"
                  style="push"
                  tooltip="Close All Open Editors">
            </command>
            <separator
                  name="fileMenu/saveSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  icon="icons/save.gif"
                  label="Save"
                  style="push"
                  tooltip="Save the Open Editor">
            </command>
            <separator
                  name="fileMenu/lastSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.exit"
                  label="E&amp;xit"
                  style="push"
                  tooltip="Exit the Application">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.mcgill.cs.swevo.qualyzer.projectexplorer#PopupMenu?after=group.new">
         <menu
               id="fileNew"
               label="&amp;New">
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.newProject"
                  icon="icons/new_prj.gif"
                  label="&amp;Project"
                  style="push"
                  tooltip="Create a New Project">
            </command>
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.addParticipant"
                  label="P&amp;articipant"
                  style="push"
                  tooltip="Create a New Participant">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.open"
                                 value="open">
                           </test>
                        </and>
                        <not>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                        </not>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.addInvestigator"
                  label="&amp;Investigator"
                  style="push"
                  tooltip="Create a New Investigator">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.open"
                                 value="open">
                           </test>
                        </and>
                        <not>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                        </not>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.newTranscript"
                  label="&amp;Transcript"
                  style="push"
                  tooltip="Create a New Transcript">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.open"
                                 value="open">
                           </test>
                        </and>
                        <not>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                        </not>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.mcgill.cs.swevo.qualyzer.projectexplorer#PopupMenu?after=group.open">
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.openTranscript"
               label="&amp;Open"
               style="push"
               tooltip="Open a Transcript">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Transcript">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.editParticipant"
               label="&amp;Open"
               style="push"
               tooltip="Edit a Participant">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Participant">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.editInvestigator"
               label="&amp;Open"
               style="push"
               tooltip="Edit an Investigator">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Investigator">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.openMemo"
               label="&amp;Open"
               style="push"
               tooltip="Open a Memo">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Memo">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.editCode"
               label="&amp;Open"
               style="push"
               tooltip="Edit a Code">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Code">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.mcgill.cs.swevo.qualyzer.projectexplorer#PopupMenu?after=group.edit2">
         <command
               commandId="org.eclipse.ui.edit.rename"
               label="&amp;Rename"
               style="push"
               tooltip="Rename this Transcript">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Transcript">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.deleteParticipant"
               icon="icons/delete.gif"
               label="Delete"
               style="push"
               tooltip="Delete this Participant">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Participant">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.deleteInvestigator"
               icon="icons/delete.gif"
               label="Delete"
               style="push"
               tooltip="Delete this Investigator">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Investigator">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.deleteTranscript"
               icon="icons/delete.gif"
               label="Delete"
               style="push"
               tooltip="Delete this Transcript">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Transcript">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.mcgill.cs.swevo.qualyzer.projectexplorer#PopupMenu?after=group.port">
         <menu
               label="&amp;Import">
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.importTranscript"
                  label="&amp;Transcript"
                  style="push"
                  tooltip="Import a Transcript">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.open"
                                 value="open">
                           </test>
                        </and>
                        <not>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                        </not>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.importAudioFile"
                  label="&amp;Audio File"
                  style="push"
                  tooltip="Import an Audio File">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="ca.mcgill.cs.swevo.qualyzer.model.Transcript">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.mcgill.cs.swevo.qualyzer.projectexplorer#PopupMenu?after=group.build">
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.closeProject"
               label="Close Project"
               style="push"
               tooltip="Close the Selected Project">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.open"
                           value="open">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.openProject"
               label="Open Project"
               style="push"
               tooltip="Open the Selected Project">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <not>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="open">
                        </test>
                     </not>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.mcgill.cs.swevo.qualyzer.projectexplorer#PopupMenu?after=group.properties">
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.editTranscriptProperties"
               label="&amp;Properties"
               style="push"
               tooltip="Edit this Transcript&apos;s Properties">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Transcript">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ca.mcgill.cs.swevo.qualyzer.editors.TranscriptEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="txt"
            icon="icons/sample.gif"
            id="ca.mcgill.cs.swevo.qualyzer.editors.TranscriptEditor"
            name="Transcript Editor">
      </editor>
      <editor
            class="ca.mcgill.cs.swevo.qualyzer.editors.ParticipantFormEditor"
            default="false"
            icon="icons/sample.gif"
            id="ca.mcgill.cs.swevo.qualyzer.editors.ParticipantFormEditor"
            name="Participant Form Editor">
      </editor>
      <editor
            class="ca.mcgill.cs.swevo.qualyzer.editors.InvestigatorFormEditor"
            default="false"
            icon="icons/sample.gif"
            id="ca.mcgill.cs.swevo.qualyzer.editors.investigatorFormEditor"
            name="Investigator Form Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ca.mcgill.cs.swevo.qualyzer.handlers.RenameHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="ca.mcgill.cs.swevo.qualyzer.projectexplorer">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="ca.mcgill.cs.swevo.qualyzer.views.ProjectExplorerActionProvider"
            id="ca.mcgill.cs.swevo.qualyzer.actions.ProjectExplorerActionProvider">
         <enablement>
            <or>
               <adapt
                     type="ca.mcgill.cs.swevo.qualyzer.model.Participant">
               </adapt>
               <adapt
                     type="ca.mcgill.cs.swevo.qualyzer.model.Investigator">
               </adapt>
               <adapt
                     type="ca.mcgill.cs.swevo.qualyzer.model.Transcript">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <navigatorContent
            activeByDefault="true"
            contentProvider="ca.mcgill.cs.swevo.qualyzer.providers.NavigatorContentProvider"
            id="ca.mcgill.cs.swevo.qualyzer.model.navigatorcontent"
            labelProvider="ca.mcgill.cs.swevo.qualyzer.providers.NavigatorLabelProvider"
            name="Qualyzer Navigator Content"
            priority="normal">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="ca.mcgill.cs.swevo.qualyzer.projectexplorer"
               minimized="false"
               moveable="false"
               ratio="0.3f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
