<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ca.mcgill.cs.swevo.qualyzer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="ca.mcgill.cs.swevo.qualyzer.Perspective"
            id="ca.mcgill.cs.swevo.qualyzer.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="ca.mcgill.cs.swevo.qualyzer.projectexplorer"
            name="Project Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ca.mcgill.cs.swevo.qualyzer.application"
            name="Qualyzer">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Qualyzer">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="ca.mcgill.cs.swevo.qualyzer.projectexplorer">
         <popupMenu
               allowsPlatformContributions="true"
               id="ca.mcgill.cs.swevo.qualyzer.projectexplorer#PopupMenu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit2"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize2">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.search"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="ca.mcgill.cs.swevo.qualyzer.projectexplorer">
         <includes>
            <contentExtension
                  pattern="ca.mcgill.cs.swevo.qualyzer.model.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="ca.mcgill.cs.swevo.qualyzer.projectexplorer">
         <includes>
            <actionExtension
                  pattern="ca.mcgill.cs.swevo.qualyzer.actions.*">
            </actionExtension></includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.ExitHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.exit"
            name="Exit">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.SetupHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.setup"
            name="Setup">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.NewProjectHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.newProject"
            name="New Project">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.OpenInterviewHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.openInterview"
            name="Open Interview">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.AddParticipantHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.addParticipant"
            name="Add Participant">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.EditParticipantHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.editParticipant"
            name="Edit Participant">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.AddInvestigatorHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.addInvestigator"
            name="Add Investigator">
      </command>
      <command
            defaultHandler="ca.mcgill.cs.swevo.qualyzer.handlers.EditInvestigatorHandler"
            id="ca.mcgill.cs.swevo.qualyzer.commands.editInvestigator"
            name="Edit Investigator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="&amp;File">
            <menu
                  id="fileNew"
                  label="&amp;New">
               <command
                     commandId="ca.mcgill.cs.swevo.qualyzer.commands.newProject"
                     label="New &amp;Project"
                     style="push"
                     tooltip="Create a New Project">
               </command>
            </menu>
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.setup"
                  label="&amp;Setup"
                  style="push"
                  tooltip="Set up the workspace">
            </command>
            <separator
                  name="fileMenu/lastSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.exit"
                  label="E&amp;xit"
                  style="push"
                  tooltip="Exit the application">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.mcgill.cs.swevo.qualyzer.projectexplorer#PopupMenu?after=group.new">
         <menu
               id="fileNew"
               label="&amp;New">
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.newProject"
                  label="New Project"
                  style="push"
                  tooltip="Create a New Project">
            </command>
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.addParticipant"
                  label="Add Participant"
                  style="push"
                  tooltip="Add a Participant">
            </command>
            <command
                  commandId="ca.mcgill.cs.swevo.qualyzer.commands.addInvestigator"
                  label="Add Investigator"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.mcgill.cs.swevo.qualyzer.projectexplorer#PopupMenu?after=group.edit2">
         <command
               commandId="org.eclipse.ui.edit.rename"
               label="Rename"
               style="push">
         </command>
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.editParticipant"
               label="Edit Participant"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Participant">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.editInvestigator"
               label="Edit Investigator"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <instanceof
                        value="ca.mcgill.cs.swevo.qualyzer.model.Investigator">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.mcgill.cs.swevo.qualyzer.projectexplorer#PopupMenu?after=group.open">
         <command
               commandId="ca.mcgill.cs.swevo.qualyzer.commands.openInterview"
               label="Open"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ca.mcgill.cs.swevo.qualyzer.editors.InterviewEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="txt"
            icon="icons/sample.gif"
            id="ca.mcgill.cs.swevo.qualyzer.editors.InterviewEditor"
            name="Interview Editor">
      </editor>
      <editor
            class="ca.mcgill.cs.swevo.qualyzer.editors.ParticipantFormEditor"
            default="false"
            icon="icons/sample.gif"
            id="ca.mcgill.cs.swevo.qualyzer.editors.ParticipantFormEditor"
            name="Participant Form Editor">
      </editor>
      <editor
            class="ca.mcgill.cs.swevo.qualyzer.editors.InvestigatorFormEditor"
            default="false"
            icon="icons/sample.gif"
            id="ca.mcgill.cs.swevo.qualyzer.editors.investigatorFormEditor"
            name="Investigator Form Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ca.mcgill.cs.swevo.qualyzer.handlers.RenameHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="ca.mcgill.cs.swevo.qualyzer.projectexplorer">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="ca.mcgill.cs.swevo.qualyzer.views.ProjectExplorerActionProvider"
            id="ca.mcgill.cs.swevo.qualyzer.actions.ProjectExplorerActionProvider">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IFile">
            </adapt>
         </enablement>
      </actionProvider>
      <navigatorContent
            activeByDefault="true"
            contentProvider="ca.mcgill.cs.swevo.qualyzer.providers.NavigatorContentProvider"
            id="ca.mcgill.cs.swevo.qualyzer.model.navigatorcontent"
            labelProvider="ca.mcgill.cs.swevo.qualyzer.providers.NavigatorLabelProvider"
            name="Qualyzer Navigator Content"
            priority="normal">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="ca.mcgill.cs.swevo.qualyzer.projectexplorer"
               minimized="false"
               moveable="false"
               ratio="0.26f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
